<div class="body-container" *ngIf="type === 'product'">
    <div class="top">
        <div class="left">
            <div class="img-product">
                <div class="img-viewpoint">
                    <img [src]="details.image">
                </div>
            </div>
        </div>
        <div class="right">
            <h1 class="product-title">{{details.name}}</h1>
            <div class="rating"></div>
            <table class="table-container">
                <colgroup>
                    <col style="width: 30%;">
                    <col style="width: 70%;">
                </colgroup>
                <tr>
                    <th>Giá</th>
                    <th style="color: #FF7B36; font-size: 30px;">{{details.price | currency:'VND'}}</th>
                </tr>
                <tr>
                    <th>Số lượng</th>
                    <th></th>
                </tr>
                <tr>
                    <th><button type="submit" class="btn-action">Mua ngay</button></th>
                    <th><button type="submit" class="btn-action">Thêm vào giỏ</button></th>
                </tr>
                <tr>
                    <th>Danh mục</th>
                    <th><a style="text-decoration: none;" [routerLink]="['/shop', details.category?.categoryName]">{{details.category?.categoryName}}</a></th>
                </tr>
            </table>
        </div>
    </div>

    <div class="bottom">
        <ul class="tabs">
            <li class="description-tab">
                <a [class.active]="selectedTab === 'tab1'" (click)="changeTab('tab1')">Mô tả</a>
            </li>
            <li class="Review-tab">
                <a [class.active]="selectedTab === 'tab2'" (click)="changeTab('tab2')">Đánh giá</a>
            </li>
        </ul>
        <div class="tab-change" [ngSwitch]="selectedTab">
            <div class="description-tab-panel" *ngSwitchCase="'tab1'">
                <h3>{{details.description}}</h3>
            </div>
            <div class="description-tab-panel" *ngSwitchCase="'tab2'">
                <h3>5 sao</h3>
                <div class="rating" [formGroup]="ratingForm">
                    <mat-icon *ngFor="let star of stars" (click)="rate(star)">
                      <i [class]="star <= currentRating ? 'fa-solid fa-star' : 'fa-regular fa-star'"></i>
                    </mat-icon>
                </div>
                <p>Đánh giá của bạn: {{ currentRating }} <i class="fa-solid fa-star" *ngIf="currentRating > 0"></i></p>
            </div>
        </div>
    </div>
</div>


<div class="body-container" *ngIf="type === 'pet'">
    <div class="top">
        <div class="left">
            <div class="img-product">
                <div class="img-viewpoint">
                    <img [src]="details.images">
                </div>
            </div>
        </div>
        <div class="right">
            <table class="table-container">
                <colgroup>
                    <col style="width: 30%;">
                    <col style="width: 70%;">
                </colgroup>
                <tr>
                    <th style="font-size: 30px; font-weight: 900;">{{details.name}}</th>
                    <th style="font-size: 30px; font-weight: 900;">{{details.code}}</th>
                </tr>
                <tr>
                    <th>Giá</th>
                    <th style="color: #FF7B36; font-size: 30px;">{{details.price | currency:'VND'}}</th>
                </tr>
                <tr>
                    <th>Tuổi</th>
                    <th>{{getFormattedPetAge(details.petAge)}}</th>
                </tr>
                <tr>
                    <th>Giới tính</th>
                    <th>{{ details.gender === 'female' ? 'Cái' : 'Đực' }}</th>
                </tr>
                <tr>
                    <th>Giống</th>
                    <th><a  style="text-decoration: none;" [routerLink]="['/breed', details.breed?.breedName]" >{{details.breed?.breedName}}</a></th>
                </tr>
            </table>
        </div>
    </div>
    <div class="bottom">
        <ul class="tabs">
            <li class="description-tab">
                <a [class.active]="selectedTab === 'tab1'" (click)="changeTab('tab1')">Mô tả</a>
            </li>
            <li class="Review-tab">
                <a [class.active]="selectedTab === 'tab2'" (click)="changeTab('tab2')">Đánh giá</a>
            </li>
        </ul>
        <div class="tab-change" [ngSwitch]="selectedTab">
            <div class="description-tab-panel" *ngSwitchCase="'tab1'">
                <h3>{{details.description}}</h3>
                <div class="pet-info">
                    <table class="info-table">
                        <colgroup>
                            <col style="width: 50%;">
                            <col style="width: 50%;">
                        </colgroup>
                        <tr>
                            <th>Color</th>
                            <th>{{details.petInfo?.color}}</th>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <th>{{details.petInfo?.size}}</th>
                        </tr>
                        <tr>
                            <th>Health</th>
                            <th>{{details.petInfo?.health}}</th>
                        </tr>
                        <tr>
                            <th>Personality</th>
                            <th>{{details.petInfo?.personality}}</th>
                        </tr>
                        <tr>
                            <th>Training</th>
                            <th>{{details.petInfo?.training}}</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="description-tab-panel" *ngSwitchCase="'tab2'">
                <h3>5 sao</h3>
                <div class="pet-info">
                </div>
            </div>
        </div>
    </div>
</div>