* {
    margin: 0;
}

.body-container {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;

}

.top {
    padding: 50px 100px;
    display: flex;
    margin: 0;
    gap: 50px;
}

.left {
    width: 50%;
}

.img-product {
    width: 100%;
    height: fit-content;
}

.img-viewpoint {
    width: 100%;
    height: fit-content;
    overflow: hidden;

}

.img-viewpoint img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition-duration: 0.3s;
}

.img-viewpoint img:hover {
    transform: scale(1.3);
}

.right {
    width: 50%;
    height: fit-content;
    background-color: #FFF;

    .table-container{
        width: 100%;

        th{
            padding: 20px 0;
            font-weight: 500;
            font-size: 20px;
        }
    }

    p{
        font-size: 27px;
        font-weight: 400;
        margin-bottom: 50px;
    }
}

.img-thumbnail ol {
    margin-top: 5px;
    padding: 0;
}

.btn-action {
    width: fit-content;
    height: 40px;
    display: flex;
    border-radius: 60px;
    border: none;
    background: #6839CC;
    color: #FFF;
    justify-content: center;
    align-items: center;
    padding: 12px 30px;
}

ul li {
    list-style: none;
}

.bottom ul li {
    list-style: none;
    display: inline-block;
}

.tabs {
    text-align: center;
    margin-bottom: 20px;
}

.tabs li a{
    display: block;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 12px 29px;
    margin: 0 15px;
    border-radius: 22px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.tabs li a.active, .tabs li a:hover {
    background-color: #FF7B36;
    color: white;
    text-decoration: none;
  }

.bottom {
    background: #F2EAEA 50% / cover no-repeat;
    padding: 20px 120px 50px 120px;
    justify-content: center;
}

.description-tab-panel {
    padding: 40px;
    border-radius: 10px;
    background: #FFF;
    width: 100%;
    height: fit-content;
}

.description-tab-panel p {
    width: 100%;
    height: 100%;
}

.info-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    padding: 10px;
    margin: 20px 0;
}

.info-table td,
.info-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    font-weight: 500;
    font-size: 17px;
    width: 50%;
    /* Đặt chiều rộng của mỗi ô là 50% */
}

.info-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.info-table tr:hover {
    background-color: #ddd;
}

.star-rating {
    cursor: pointer;
}
