*{
    margin: 0;
}
.container{
    padding: 70px 60px;
    width: 100%px;
    font-family: 'Roboto';
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a:hover{
    color: #FF7A00;
}
.header{
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

.information-container{
    display: flex;
    gap: 50px;
}

.left{
    width: 25%;
    height: fit-content;
    border: 2px solid #cac7ff;
}
.left ul{
    list-style: none;
    padding: 0;
}

.left li{
    padding: 15px;
}

.right{
    width: 70%;
    height: fit-content;
    border: 2px solid #cac7ff;
    padding: 20px;
}

.right p, .right li{
    padding: 10px;
}
