<div class="register-container">
	<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
	  
	  <!-- Trường nhập email -->
	  <div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" formControlName="email">
		<div *ngIf="signinForm.get('email').invalid && signinForm.get('email').touched">
		  <small class="form-text text-muted">Email không hợp lệ.</small>
		</div>
	  </div>
  
	  <!-- Trường nhập mật khẩu -->
	  <div class="form-group">
		<label for="password">Mật khẩu</label>
		<input type="password" class="form-control" id="password" formControlName="password">
		<div *ngIf="signinForm.get('password').invalid && signinForm.get('password').touched">
		  <small class="form-text text-muted">Mật khẩu không đúng.</small>
		</div>
	  </div>
  
	  <!-- Checkbox "Ghi nhớ đăng nhập" -->
	  <!-- <div class="form-group form-check">
		<input type="checkbox" class="form-check-input" id="rememberMe" formControlName="rememberMe">
		<label class="form-check-label" for="rememberMe">Ghi nhớ đăng nhập</label>
	  </div> -->
  
	  <!-- Nút đăng nhập -->
	  <button type="submit" class="btn btn-primary" [disabled]="!signinForm.valid">Đăng nhập</button>
  
	</form>
  </div>
  