<!-- Trong cart.component.html -->
<div *ngFor="let detail of details" class="cart-item">
  <img [src]="detail.product?.image" alt="{{detail.product?.name}}" class="product-image">
  <div class="item-info">
    <p class="product-name">{{ detail.product?.name }}</p>
    <p class="product-price">{{ detail.price }}</p>
    <div class="quantity-control">
      <label>Số lượng:</label>
      <!-- Sử dụng nút + và - thay vì input -->
      <button *ngIf="detail.quantity === 1 || detail.quantity > 1 " (click)="decreaseQuantity(detail.cartDetailId)">-</button>
      <span>{{ detail.quantity }}</span>
      <button *ngIf="detail.quantity < detail.product.quantity" (click)="increaseQuantity(detail.cartDetailId)">+</button>
    </div>
    <p class="total-cost">Tổng tiền: {{ detail.price * detail.quantity }}</p>
  </div>
  <button (click)="deleteCartDetail(detail.cartDetailId)" class="remove-button">Xóa</button>
</div>