/* Định dạng cơ bản cho giỏ hàng */
.cart-container {
  width: 60%;
  margin: auto;
  padding: 20px;
}

.cart-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-item {
  background-color: rgba(255, 255, 255, 0.8); /* Màu nền đục */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.product-image {
  width: 80px; /* Kích thước ảnh sản phẩm */
  height: auto;
  margin-right: 10px;
}

.item-info {
  flex-grow: 1;
}

.product-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  margin-bottom: 5px;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  background-color: #f2f2f2; 
  color: #333; 
  border: 1px solid #ccc; 
  padding: 5px 10px; 
  margin: 0 5px; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.2s, color 0.2s; 
}

.quantity-control button:hover {
  background-color: #ddd; 
  color: #000; 
}

.quantity-control span {
  padding: 0 10px; 
}


.quantity-control label {
  margin-right: 5px;
}

.total-cost {
  font-size: 18px;
}

.remove-button, .checkout-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-button {
  background-color: #ff0000;
}

.remove-button:hover, .checkout-button:hover {
  background-color: #45a049; /* Màu sáng hơn khi hover */
}

.total-cost p {
  margin: 0;
  font-weight: bold;
  color: #333;
  margin: 10px;
  
}

/* Responsive styles */
@media (max-width: 768px) {
  .cart-container {
    width: 100%;
  }
}
