<div class="modal-header">
    <h4 class="modal-title">{{ pet.name }} - Chi Tiết</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="img">
        <img [src]="pet.images">
    </div>
    <div class="detail">
        <p><strong>Mã:</strong> {{ pet.code }}</p>
        <p><strong>Giá:</strong> {{ pet.price | currency:'VND'}}</p>
        <p><strong>Ngày sinh:</strong> {{ pet.petAge }}</p>
        <p><strong>Mô tả:</strong> {{ pet.description }}</p> 
        <p><strong>Danh mục:</strong> {{ pet.breed.breedName }}</p> 
    </div>
</div>