
<div class="body-container" *ngIf="type === 'product'">
    <div class="left">
        <div class="img-product">
            <div class="img-viewpoint">
                <img [src]="details.image">
            </div>
        </div>
    </div>
    <div class="right">
        <h1 class="product-title">{{details.name}}</h1>
        <p class="price">
            <span class="price-currncy">đ</span>
            {{details.price}}
        </p>
        <div class="product-rating">
            <div class="star-rating"></div>
            <a href="#">(
                <span class="count">5</span>
                Reviews )
            </a>
        </div>
        <div class="buy-product-container">
            <div class="input-quantity">
                {{product.quantity}}
            </div> 
            <div class="button-action">
                <button type="submit" class="add-to-cart"><img src="assets/image/shopping-bag.png"> Add to Card</button>
                <button type="submit" class="buy-product">Buy product</button>
            </div>               
        </div>
        <div class="catergory-container">
            Catergories:
            <a>{{details.category_id}}</a>
        </div>
    </div>
</div>
<div class="bottom">
    <ul class="tabs"> 
        <li class="description-tab">
            <a href="#">Description</a>
        </li>
        <li class="additional-information-tab">
            <a href="#">Additional Information</a>
        </li>
        <li class="Review-tab">
            <a href="#">Review</a>
        </li>
    </ul>
    <div class="description-tab-panel">
        <h2>Description</h2>
        <p>{{details.description}}</p>
    </div>
</div>

<div class="body-container" *ngIf="type === 'pet'">
    <div class="left">
        <div class="img-product">
            <div class="img-viewpoint">
                <img [src]="details.image">
            </div>
        </div>
    </div>
    <div class="right">
        <h1 class="product-title">{{details.name}}</h1>
        <h1 class="product-title">{{details.pet_id}</h1>
        <p class="price">
            <span class="price-currncy">đ</span>
            {{details.price}}
        </p>
        <p>{{details.petAge}}</p>
        <p>{{details.gender}}</p>
        <div class="product-rating">
            <div class="star-rating"></div>
            <a href="#">(
                <span class="count">5</span>
                Reviews )
            </a>
        </div>
        <div class="buy-product-container">
            <div class="input-quantity">
                {{product.quantity}}
            </div> 
            <div class="button-action">
                <button type="submit" class="add-to-cart"><img src="assets/image/shopping-bag.png"> Add to Card</button>
                <button type="submit" class="buy-product">Buy product</button>
            </div>               
        </div>
        <div class="catergory-container">
            Catergories:
            <a>{{details.category_id}}</a>
        </div>
    </div>
</div>
<div class="bottom">
    <ul class="tabs"> 
        <li class="description-tab">
            <a href="#">Description</a>
        </li>
        <li class="additional-information-tab">
            <a href="#">Additional Information</a>
        </li>
        <li class="Review-tab">
            <a href="#">Review</a>
        </li>
    </ul>
    <div class="description-tab-panel">
        <h2>Description</h2>
        <p>{{details.description}}</p>
    </div>
</div>
