<!-- payment.component.html -->
<div class="checkout-container">
  <div class="checkout-header">
    <h2>Thông tin thanh toán</h2>
  </div>

  <div class="checkout-details">
    <div class="customer-info">
      <h3>Thông tin khách hàng</h3>
      <form>
        <div class="form-group">
          <label for="fullName">Họ và tên:</label>
          <input type="text" id="fullName" name="fullName" required>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" >
        </div>

        <div class="form-group">
          <label for="phone">Số điện thoại:</label>
          <input type="tel" id="phone" name="phone" >
        </div>

        <div class="form-group">
          <label for="address">Địa chỉ:</label>
          <textarea id="address" name="address" ></textarea>
        </div>

        <div class="form-group">
          <label for="paymentMethod">Phương thức thanh toán:</label>
          <select id="paymentMethod" name="paymentMethod">
            <option value="creditCard">Thẻ tín dụng</option>
            <option value="bankTransfer">Chuyển khoản ngân hàng</option>
            <!-- Thêm các phương thức thanh toán khác nếu cần -->
          </select>
        </div>

        <button type="button" (click)="processPayment()">Xác nhận thanh toán</button>
      </form>
    </div>

    <div class="cart-container">
      <h2 class="cart-title">Danh sách sản phẩm thanh toán</h2>

      <div *ngIf="cartDetails.length === 0" class="empty-cart">
        <p>Không có sản phẩm nào để thanh toán.</p>
      </div>

      <div *ngFor="let detail of cartDetails" class="payment-item">
        <div class="item-info">
          <img [src]="detail.product?.image" alt="{{ detail.product?.name }}" class="product-image">
          <div class="product-details">
            <p class="product-name">{{ detail.product?.name }}</p>
            <p class="product-quantity">Số lượng: {{ detail.quantity }}</p>
            <p class="total-cost">Tổng tiền: {{ detail.price * detail.quantity }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="cartDetails.length > 0" class="total-cost">
        <p>Tổng tiền thanh toán: {{ getTotalCartCost() }}</p>
        <button (click)="checkout()" class="checkout-button">Xác nhận thanh toán</button>
      </div>
    </div>
  </div>

  <div class="payment-options">
    <h3>Các phương thức thanh toán khác nhau</h3>
    <ul>
      <li>Thẻ tín dụng</li>
      <li>Chuyển khoản ngân hàng</li>
      <!-- Thêm các phương thức thanh toán khác nếu cần -->
    </ul>
  </div>
</div>
