<div class="modal-header">
    <h4 class="modal-title">{{ product.name }} - Chi Tiết</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="img">
        <img [src]="product.image">
    </div>
    <div class="detail">
        <p><strong>Mã:</strong> {{ product.code }}</p>
        <p><strong>Giá:</strong> {{ product.price | currency:'VND'}}</p>
        <p><strong>Giảm giá:</strong> {{ product.discount }}</p>
        <p><strong>Số lượng:</strong> {{ product.quantity }}</p> 
        <p><strong>Mô tả:</strong> {{ product.description }}</p> 
        <p><strong>Đã bán:</strong> {{ product.sold }}</p> 
        <p><strong>Danh mục:</strong> {{ product.category.categoryName }}</p> 
    </div>
</div>