<div class="body-container">
    <div class="banner-container">
        <div class="banner">
            <img src="assets/image/banner.jpg">
        </div>
        <div class="banner">
            <img src="assets/image/banner.jpg">
        </div>
    </div>
    <div class="breadcrumb"></div>
    <div class="product-container" style="display: flex;">
        <div class="filter">
            <div class="product-categories">
                <h2>Product Categories</h2>
                <ul id="category-list">
                    <li>
                        <i class="fa fa-paw fa-rotate-90"></i>
                        <a>Tất cả</a>
                    </li>
                    <li *ngFor="let item of breedList.slice(0,7)">
                        <i class="fa fa-paw fa-rotate-90"></i>
                        <a>{{item.breedName}}</a>
                        <!-- <span>({{item.product.length}})</span> -->
                    </li>
                </ul>
                <a *ngIf="breedList.length > 7 && show" (click)="showAllBreeds()">Hiện thêm</a>
                <ul id="category-list" *ngIf="showAll">
                    <li *ngFor="let item of breedList.slice(7)">
                        <i class="fa fa-paw fa-rotate-90"></i>
                        <a>{{item.breedName}}</a>
                        <span></span>
                    </li>
                </ul>
                <a *ngIf="!show" (click)="showAllBreeds()">Thu gọn</a>
            </div>
        </div>
        <div class="show-product">
            <div class="product-list">
                <!-- Pet  -->
                <div class="product" *ngFor="let item of displayedPet">
                    <div class="image">
                        <img [src]="item.images">
                        <div class="action-btn">
                            <button class="add-button" [routerLink]="['']"><i
                                    class="fa fa-bag-shopping fa-lg"></i></button>
                            <button class="add-button" [routerLink]="['']"><i class="fa fa-heart fa-lg"></i></button>
                        </div>
                        <a routerLink="/detail" [queryParams]="{ type: 'pet', id: item.petId }" style="cursor: pointer;"></a>

                    </div>
                    <p style="font-size: 14px;">{{item.price}}</p>
                    <h3><a routerLink="/detail" [queryParams]="{ type: 'pet', id: item.petId }">{{item.name}}</a></h3>
                </div>
            </div>
            <div *ngIf="totalPet > petsPerPage">
                <ul class="pagination">
                    <li *ngFor="let page of getPageArray()" [class.active]="page === currentPage"
                        style="margin-right: 10px;">
                        <a (click)="changePage(page)" style="cursor: pointer;">{{page}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
