<div class="body-container">
    <div class="slideshow-container">
        <img *ngFor="let image of images; let i = index" [class.active]="i === currentImageIndex" [src]="image" alt="Slide">
        <div class="indicators">
            <span *ngFor="let image of images; let i = index" [class.active]="i === currentImageIndex"
                (click)="selectImage(i)"></span>
        </div>
    </div>
    <div class="breadcrumb"></div>
    <div class="product-container" style="display: flex;">
        <div class="filter">
            <div class="product-categories">
                <h2>Dog Breeds</h2>
                <ul id="category-list">
                    <li>
                        <a [routerLink]="['/breed','All']" 
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                            (click)="onCategoryClick('0')">
                            <i class="fa fa-paw fa-rotate-90"></i> 
                            <span class="text">Tất cả</span>
                        </a>
                    </li>
                    <li *ngFor="let item of breedList?.slice(0,7)">
                        <a [routerLink]="['/breed', item.breedName]" 
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                            (click)="onCategoryClick(item.breedName)">
                            <i class="fa fa-paw fa-rotate-90"></i> 
                            <span class="text">{{item.breedName}}</span>
                        </a>
                    </li>
                </ul>
                <a *ngIf="breedList?.length > 7 && show" (click)="showAllBreeds()">Hiện thêm</a>
                <ul id="category-list" *ngIf="showAll">
                    <li *ngFor="let item of breedList?.slice(7)">
                        <a [routerLink]="['/breed', item.breedName]" 
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                            (click)="onCategoryClick(item.breedName)">
                            <i class="fa fa-paw fa-rotate-90"></i> 
                            <span class="text">{{item.breedName}}</span>
                        </a>
                    </li>
                </ul>
                <a *ngIf="!show" (click)="showAllBreeds()">Thu gọn</a>
            </div>
        </div>
        <div class="show-product">
            <div class="product-list">
                <!-- Pet  -->
                <div class="product hover-effect" *ngFor="let item of displayedPet">
                    <div class="image">
                        <img [src]="item.images">
                        <a routerLink="/detail" [queryParams]="{ type: 'pet', id: item.petId }" style="cursor: pointer;"></a>

                    </div>
                    <h3 class="m-3"><a routerLink="/detail" [queryParams]="{ type: 'pet', id: item.petId }" style="text-decoration: none;">{{item.code}}</a></h3>
                </div>
            </div>
            <div *ngIf="totalPet > petsPerPage">
                <ul class="pagination m-2">
                    <li *ngFor="let page of getPageArray()" [class.active]="page === currentPage"
                        style="margin-right: 10px;">
                        <a (click)="changePage(page)" style="cursor: pointer;">{{page}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>