<section class="container">
  <header>Add New Pet</header>
  <form [formGroup]="addPet" (ngSubmit)="submitPet()" class="form">
    <div class="input-box">
      <label>Pet Image</label>
      <input type="file" (change)="onFileSelected($event)"  placeholder="Choose pet image" accept="image/*" required />
      <img formControlName="image" [src]="addPet.get('images').value">
    </div>

    <div class="input-box">
      <label>Code</label>
      <input type="text" formControlName="code" placeholder="Enter pet code" required />
    </div>

    <div class="input-box">
      <label>Pet Name</label>
      <input type="text" formControlName="name" placeholder="Enter pet name" required />
    </div>

    <div class="input-box">
      <label>Description</label>
      <input type="text" formControlName="description" placeholder="Enter pet description" required />
    </div>

    <div class="input-box">
      <label>Select Breed</label>
      <div class="select-box">
        <select id="category" formControlName="breedId" class="form-control" (change)="onCategoryChange($event)">
          <option *ngFor="let item of breedList" [value]="item.breedId">{{ item.breedName }}</option>
        </select>
      </div>
    </div>

    <div class="column">
      <div class="input-box">
        <label>Gender</label>
        <input type="text" formControlName="gender" placeholder="Enter pet gender" required />
      </div>
      <div class="input-box">
        <label>Price</label>
        <input type="number" formControlName="price" placeholder="Enter product price" required />
      </div>
      <div class="input-box">
        <label>Pet Age</label>
        <input type="date" formControlName="petAge" placeholder="Enter birth date" required />
      </div>
    </div>

    <button>Submit</button>
  </form>
</section>