<div class="body-container">
    <div class="banner-container">
        <div class="banner">
            <img src="assets/image/banner.jpg">
        </div>
        <div class="banner">
            <img src="assets/image/banner.jpg">
        </div>
    </div>
    <div class="breadcrumb">

    </div>
    <!-- <div class="product-container">
        <div class="filter">
            <div class="category-filter">
                <h1>Product Categories</h1>
            </div>
        </div>
        <div class="product-show">
            <div class="sort-product"></div>
        </div>
    </div> -->
    <div class="product-categories">
        <h2>Product Categories</h2>
        <ul id="category-list" >
            <li *ngFor="let item of categoryList.slice(0,7)">
                <i class="fas fa-paw"></i> 
                <a>{{item.categoryName}}</a>
            </li>
        </ul>
        <a *ngIf="categoryList.length > 7 && show" (click)="showAllCategories()">Hiện thêm</a>
        <ul id="category-list" *ngIf="showAll">
            <li *ngFor="let item of categoryList.slice(7)">
                <i class="fas fa-paw"></i> 
                <a>{{item.categoryName}}</a>
            </li>
        </ul>
        <a *ngIf="!show" (click)="showAllCategories()">Thu gọn</a>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sắp xếp sản phẩm
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Giá từ thấp đến cao</a></li>
            <li><a class="dropdown-item" href="#">Giá từ cao xuống thấp</a></li>
        </ul>
    </div>

    <div class="product-list" >
        <!-- Sản phẩm  -->
        <div class="product" *ngFor="let item of productList" >
            <img [src] = "item.image">
            <h3>{{item.name}}</h3>
            <p>{{item.price}}</p>
            <p>{{item.categoryName}}</p>
            <p>{{item.description}}</p>
            <button class="add-to-cart-button" [routerLink]="['carts']">Thêm vào giỏ hàng</button>
        </div>
    </div>