<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="banner-container">
            <div class="banner">
                <img src="assets/image/banner.jpg">
            </div>
            <div class="banner">
                <img src="assets/image/banner.jpg">
            </div>
        </div>
        <div class="breadcrumb">
    
        </div>
        <div class="product-container">
            <div class="filter">
                <div class="category-filter">
                    <h1>Product Categories</h1>
                </div>
            </div>
            <div class="product-show">
                <div class="sort-product"></div>
            </div>
        </div>
    </div>
    
    
</body>
</html>