<div class="body-container">
    <div class="banner-container">
        <div class="banner">
            <img src="assets/image/banner.jpg">
        </div>
        <div class="banner">
            <img src="assets/image/banner.jpg">
        </div>
    </div>
    <div class="breadcrumb"></div>
    <div class="product-container" style="display: flex;">
        <div class="filter">
            <div class="product-categories">
                <h2>Product Categories</h2>
                <ul id="category-list" >
                    <li *ngFor="let item of categoryList.slice(0,7)">
                        <i class="fa fa-paw fa-rotate-90"></i> 
                        <a (click)="onCategoryClick(item.categoryId)">{{item.categoryName}}</a>
                        <!-- <span>({{item.product.length}})</span> -->
                    </li>
                </ul>
                <a *ngIf="categoryList.length > 7 && show" (click)="showAllCategories()">Hiện thêm</a>
                <ul id="category-list" *ngIf="showAll">
                    <li *ngFor="let item of categoryList.slice(7)">
                        <i class="fa fa-paw fa-rotate-90"></i> 
                        <a (click)="onCategoryClick(item.categoryId)">{{item.categoryName}}</a>
                    </li>
                </ul>
                <a *ngIf="!show" (click)="showAllCategories()">Thu gọn</a>
            </div>
        </div>
        <div class="show-product">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sắp xếp sản phẩm
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Giá từ thấp đến cao</a></li>
                    <li><a class="dropdown-item" href="#">Giá từ cao xuống thấp</a></li>
                </ul>
            </div>
            <div class="product-list" >
                <!-- Sản phẩm  -->
                <div class="product" *ngFor="let item of productList" >
                    <!-- <img [src] = "item.image"> -->
                    <div class="image">
                        <img src="assets/image/product12.jpg">
                        <div class="action-btn">
                            <button class="add-button" [routerLink]="['carts']"><i class="fa fa-bag-shopping"></i></button>
                            <button class="add-button" [routerLink]="['']"><i class="fa fa-heart"></i></button>
                        </div>
                    </div>
                    <p style="font-size: 14px;">{{item.price}}</p>
                    <h3><a>{{item.name}}</a></h3>
                </div>
            </div>
            <div *ngIf="totalProducts > productsPerPage">
                <ul class="pagination">
                  <li *ngFor="let page of getPageArray()" [class.active]="page === currentPage">
                    <a (click)="changePage(page)">{{ page }}</a>
                  </li>
                </ul>
              </div>
            </div>
    </div>
</div>
