*{
    margin: 0;
}
.container{
    width: 100%px;
    padding: 30px;
}


.banner-container{
    width: 100%;
    display: flex;
    gap: 20px;
}

.banner{
    width: 50%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid #555;
    overflow: hidden;
}

.banner img{
    width: 100%;
    height: 350px;
}

.breadcrumb{
    width: 100%;
    height: 30px;
    display: flex;
}

.product-container{
    width: 100%;
    display: flex;

    .filter{
        width: 25%;
        padding: 10px;
        display: block;
    }
}

.filter h1{
    font-size: 24px;
}